header{
 background-image:url(londonbg.jpg);
 height:770px;
 width:100%;
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
 overflow:hidden;
}

h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 100px;
  margin-top: 300px;
  clear: left;
  color: black;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  background-color: #f0acb7;
}

.header {
  z-index: 10;
  position: relative;
}
.welcome {
  text-align: center;

}
.goal {
  text-align: center;
}
ul {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  opacity: 0.8;
}

div.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

img.img-responsive {
  height: 200px;
  width: 350px;
  opacity: 1.0;
  border-radius: 25px;
}

img.img-responsive:hover {
    opacity: 0.5;
}
p.infoguide {
  font-size: 15px;
}
h2.guideheaders {
  text-align: left;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar {
  background-color: black;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}
